<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MachServices</key>
	<dict>
		<key>com.saltysoft.icon-server</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>com.saltysoft.icon-server</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/SaltySweets/icon-server</string>
		<string>--port</string>
		<string>54321</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/iconserver.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/iconserver.log</string>
</dict>
</plist>
